<app-navbar></app-navbar>
<router-outlet></router-outlet>

<section id="content" class="container">
    <!-- <div class="search">
        <h3 class="title">Search</h3>
        <form>
            <input type="text">
            <button>start</button>
        </form>
    </div>
    <div class="data">
        <h3 class="title">Data</h3>
    </div> -->
    <div class="graph_container">
        <h3 class="title">Profile</h3>
        <!-- <div class="first_graph"></div>
        <div class="second_graph"></div> -->
    </div>
    <!-- <div class="graph_container">
        <h3 class="title">Stats</h3>
        <div class="first_graph"></div>
        <div class="second_graph"></div>
    </div> -->
</section>