@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

/* DARK */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none !important;
}

body.dark-theme {
    width: 100%;
    height: 100%;
    background-color: #2b2b2b;
    color: #f5f5f5;
    user-select: none;
}

body.dark-theme {
    margin: 0;
}

.main.dark-theme {
    background-color: #2b2b2b;
    box-shadow: 10px 10px 10px #1a1a1a, -10px -10px 10px #3d3d3d;
    border-radius: 12px;
    overflow: hidden;
}

.container.dark-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 600px;
    height: 100%;
    padding: 25px;
    background-color: #2b2b2b;
    transition: 1.25s;
}

.logo__icon.dark-theme {
    object-fit: contain;
    width: 50px;
    margin: 5px;
    transition: 0.15s;
}

a:link.dark-theme,
a:visited.dark-theme {
    text-decoration: none;
}

.nav-item.nav-link.dark-theme {
    display: block;
    cursor: pointer;
}

nav.dark-theme {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    background: #1a1a1a;
    transition: 0.3s;
    overflow: hidden;
}

nav.dark-theme:hover {
    width: 160px;
    box-shadow: 4px 4px 4px #0d0d0d, 8px 8px 8px #2b2b2b;
}

nav ul.dark-theme {
    position: relative;
    width: 160px;
    padding: 0;
    margin: 0;
    display: block;
    list-style: none;
}

nav ul li.dark-theme {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 60px auto;
    opacity: 0.6;
    cursor: pointer;
    transition: transform 0.1s;
    user-select: none;
}

nav ul li a.dark-theme {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 60px auto;
    opacity: 0.6;
    cursor: pointer;
    transition: transform 0.1s;
    user-select: none;
}

a:hover.dark-theme,
nav ul li:hover.dark-theme {
    opacity: 1;
}

.activepage.dark-theme {
    opacity: 1;
}

a:active.dark-theme,
nav ul li:active.dark-theme {
    transform: scale(0.9);
}

nav ul li i.dark-theme {
    position: relative;
    align-self: center;
    justify-self: center;
}

nav ul li p.dark-theme {
    color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    background-color: #f5f5f5;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#link p.dark-theme {
    color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    background-color: #f5f5f5;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.material-icons.md-light.dark-theme {
    background-color: #f5f5f5;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

#content.dark-theme {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 60px);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 20px));
    grid-template-rows: repeat(2, calc(50% - 20px));
    grid-gap: 40px;
    padding: 20px;
}

.search.dark-theme,
.data.dark-theme,
.graph_container.dark-theme {
    position: relative;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
    border-radius: 1em;
    box-shadow: 10px 10px 10px #1a1a1a, -10px -10px 10px #3d3d3d;
    padding: 20px;
    background: #2b2b2b;
}

.search .title.dark-theme,
.data .title.dark-theme,
.graph_container .title.dark-theme {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    margin: 0;
}

h3.logo_title.dark-theme {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    margin: 7px;
}

.graph_container.dark-theme {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-columns: repeat(2, calc(50% - 20px));
    grid-template-rows: 40px calc(100% - 80px);
    grid-gap: 40px;
    padding: 20px;
    background: #2b2b2b;

    justify-content: flex-start;
    align-items: flex-start;
}

.graph_container .title.dark-theme {
    align-self: center;
}
